body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f1f1f1;
}

form {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.output-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.output-wrapper output{
  min-height: 40px;
  text-align: center;
  vertical-align: bottom;
  overflow-y: hidden;
}

.output-label {
  margin-right: 10px;
  font-size: 16px;
  color: #555;
}

#password {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  overflow-x: auto;
  white-space: nowrap;
}

#symbol_val {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


.button-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-copy img {
  width: 20px;
  height: 20px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.checkbox-wrapper div {
  margin-top: 10px;
  margin-bottom: 10px;
}


label {
  font-size: 16px;
  color: #555;
}

#length {
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.password-container {
  display: flex;
  align-items: center;
}

.password-container select {
  font-size: 16px;
}

.password-container label {
  margin-right: 10px;
}